version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: pdp-api-db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: pdp-api
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      target: development
    container_name: pdp_api
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    command: sh -c "npm install && npm run migration:run && npm run start:dev"
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  postgres_data:
  node_modules:
