name: CI - workflow
on:
  pull_request:
    branches:
      - main
strategy:
  matrix:
    node-version: ['18.x', '20.x']
jobs:
  check-application:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm test
